{% extends 'base/base.html' %}
    {% block contenido %}
        <div>
            <form method="POST">{% csrf_token %}
                <div class="row" style="padding:10px;">
                    {% include "includes/form_errors.html" %}
                    {{form.as_p}}
                    <div class="col">
                        <button type="submit" class="btn btn-outline-success">Guardar</button>
                        <a href="{% url 'productos:admin_listar' %}" class="btn btn-outline-danger">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    {% endblock contenido %}